@charset "UTF-8";

@import "lib/4-1carryoverhack.less";

@import "lib/lesshat.less";

@import "lib/breakpoints.less";
@import "lib/colors.less";
@import "lib/fonts.less";

@import "eventicon-embedded.less";


.event-datetimes {
  font-size: 80%;

  div {
    line-height: 1.4;
    vertical-align: middle;
  }

  .edt-header {
    border-bottom: 2px solid #D5D5D2;
  }

  .recurring-record {
    border-left: 4px solid #D5D5D2;
    border-right: 4px solid #D5D5D2;
    padding-bottom: 10px;

    &:last-child {
      margin-bottom: 10px;
      padding-bottom: 0px;
    }

  }

  .edt-record {
    background: #D5D5D2;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px 0;

    &.recurring {
      margin-bottom: 0px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 0px;
    }

    &.has-recurring {
      margin-bottom: 10px;
    }

  }

  .dates {
    display: inline-block;
    padding-left: 20px;
    width: 40%;
  }

  .location {
    display: inline-block;
    width: 45%;

    &.with-controls {
      width: 25%;
    }

  }

  .controls {
    display: inline-block;
    text-align: right;
    width: 30%;

    &.recurring {
      width: 55%;
    }

    a,
    button {
      vertical-align: bottom;
    }

  }

  .small {
    font-size: 60%;
  }

}


.event-list {
  background-color: #eae9e6;
  font-size: 80%;
  line-height: 1.4;

  .center {
    text-align: center;
  }

  tbody tr {
    min-height: 30px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    padding: 5px 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid #999999;
  }

}


.recommend-list {
  background-color: #eae9e6;

  .center {
    text-align: center;
  }

}


#new-location-fields {
  background-color: #D5D5D2;
  margin-top: 10px;
  padding: 10px 30px;
}


.wp-calendar th {
    width: 14%;
}


.monthwidget td {
  background-color: #fefdfa;
}


.monthwidget td span,
.monthwidget td a {
  display: block;
  padding: 8px 1px;
}


// day selection classes
.monthwidget td.active {
  background: #242423;
  color: #fefdfa;
}


.monthwidget td.active a {
  color: inherit;
}

.monthwidget td.today {
  background: #d00000;
  color: #fefdfa;
}


.monthwidget td.today a {
  color: inherit;
}


.monthwidget td a:hover {
  outline: 2px solid @brand;
}


.monthwidget td.prev a,
.monthwidget td.next a {
  padding: 11px 1px;
}


.return-today {
  .sans-serif-font();
  font-size: 0.75rem;

  @media @bp2 {
    font-size: 0.802rem;
  }

  &::before {
    color: @ui05;
    margin-right: 0.451em;
  }

  .dcf-main p a& { // Needed to make the selector more specific
    border-bottom: 0;
  }

}


#month_viewcal td {
  padding: 1em;
  text-align: left;
  vertical-align: top;

  @media @under-bp2 {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  &::before {
    font-size: .75rem;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  > a {
    font-size: 1.33rem;

    @media @bp2 {
      font-size: .84rem;
    }

  }

  ul {
    font-size: .75em;
    margin: .75em 0 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  li:not(:last-child) {
    margin-bottom: .75em;
  }

}


.day-nav {
  display: none;
}


#dcf-main {

  .band-nav {
    background-color: @ui02;
    .sans-serif-font();

    .events-nav {
      align-items: center;
      border-bottom: 1px solid @ui04;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    ul {
      font-size: .75em;
      margin: 0;
      padding: 0 0 0.75em 0;
      text-transform: uppercase;

      li {
        display: inline;
        margin-right: 0.451em;
      }

    }

    a {
      border-bottom: 0;
      text-decoration: none;
    }

    .dcf-wrapper {
      padding-bottom: 0.451em;
      padding-top: 1em;
    }

    .submit-search {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      text-align: left;

      @media @bp960 {
        order: 2;
        text-align: right;
      }

    }

    #frontend_login {
      flex-shrink: 0;
      .sans-serif-font();
      font-size: .75em;
      margin-right: 1.77em;
      padding-bottom: 0.75em;
      text-transform: uppercase;

      span::before {
        color: @ui05;
        margin-left: 0;
      }

    }

    #event_search {
      align-items: center;
      display: flex;
      flex-basis: 23.68em;
      flex-grow: 1;
      font-size: .75em;
      margin: 0;
      padding: 0 0 0.75em 0;
      width: 100%;

      .dcf-input-group {
        margin-top: 0;
      }

      label {
        font-size: 1em;
        margin-right: 0.75em;
        margin-top: 0;
        text-transform: uppercase;
      }

    }

  }

  .band-results {
    background-color: @ui02;

    .dcf-wrapper {
      padding-top: 1em;
    }

    &.view-unl_ucbcn_frontend_search {

      a.permalink {
        color: @ui09;
      }

    }

    .section-heading {
      background-color: mix(@ui09, @page-background, 95%);
      color: #fff;
      position: relative;
      text-transform: uppercase;
      width: 100%;

      h1,
      h2 {
        color: #fff;
        .sans-serif-font();
        font-size: 0.923rem;
        margin: 0 0 1rem;
        padding: 1.069em 1.425rem 1em;
      }

      @media @bp2 {
        h1,
        h2 {
          font-size: 0.802rem;
        }

      }

      .links {
        margin-top: .5em;
        margin-right: 1em;
        position: absolute;
        right: 0;
        top: 0;

        a {
          color: #fff;
          margin-left: 0.451em;
        }

        @media @bp2 {
          margin-top: .25em;
        }

      }

    }

    .vcalendar {

      .vevent {
        background-color: fadeout(#fff, 33%);
        border-top: 5px solid @ui05;
        box-shadow: 0 0 0 1px fadeout(@ui14, 90%);
        margin-bottom: 1em;
        padding: 1.425rem 1.777em;
        transition: all 0.2s ease-out;

        @media @bp2 {
          padding: 1.899rem 2.369em;

        }

        .date-wrapper,
        .time-wrapper,
        .location,
        .contact {
          display: block;
          .sans-serif-font();
          font-size: 0.75rem;

          @media @bp2 {
            font-size: 0.802rem;
          }

          &::before {
            color: @ui05;
          }

        }

        .location div {
          padding-left: 1.777em;
        }

        .description {
          border-top: 1px solid @ui04;
          margin: 1em 0 0;
          padding-top: 1em;
        }

      }

    }

    .year_cal {

      .monthwidget caption .next,
      .monthwidget caption .prev {
        display: none;
      }

    }

  }

}
