.use-select2 {
	width: 100%;
}

.wdn-grid-set.reverse > [class*=wdn-col] {
	float: right;
}

.toolbox,.visual-island {
    background: #f9f8f5;
    margin-bottom: 1em;
    word-break: break-word;
	border: 1px solid #d5d5d2;
	padding:0 !important;
    h1,h2,h3,h4,h5,h6,.vi-header{
		display: block;
		font-size: .802em !important;
		margin: 0;
		border-bottom: 1px solid #474746;
		font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
		width: 100%;
		background-color: #474746;
		padding: 1em;
		text-transform: uppercase;
		color:#fff;
		font-weight: 400;
		font-style: normal;
		text-align: center;
	}
	p {
		padding: 0 1em 1em 1em;
	}
	ul {
		list-style: none;
	    padding-left: 20px;
	    padding-bottom: 1em;
	    a {
	    	border-bottom: none;
	    	font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
	    }
	}
}

legend {
		display: block;
		font-size: 1.25em !important;
		margin-bottom: 1em;
		border-bottom: 1px solid #474746;
		font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
		width: 100%;
		text-transform: uppercase;
		font-weight: 400;
		font-style: normal;
	}

.date-time-select {
    padding: 1em;
    background-color: #f9f8f5;
    border: 1px solid #d5d5d2;
    margin-bottom: 0.75em;
    text-align: center;
    .wdn-icon-calendar {
	    margin-right: -2.3em;
	    position: relative;
	    z-index: 2;
	    margin-left: 0.8em;
	}
	input {
	    padding-left: 2.3em;
	    width: 40%;
	    position: relative;
	    text-align: center;
	}
	select {
	    width: 14%;
	    text-align: center;/*
	    background-color: inherit;
	    color: inherit;*/
	}
	> * {
	  vertical-align: middle;
	}
}

#breadcrumbs {
	background: #474746;
	padding-left: 1rem;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	width: auto;
	ul {
		padding: .5em 0;
		margin: 0;
	}
	li {
		color: #fff;
	}
	a {
		color: #fff;
		border-bottom: 0;
		&:hover {
			color: #fff;
		}
	}
}

.am_pm {
    display: inline-block;
    font-family: "Gotham";
    font-size: .75em;
    margin-left: .75em;
}

#recurring ~ .recurring-container {
    display: none;
    padding: 1em;
    background-color: #f9f8f5;
    border: 1px solid #d5d5d2;
}

#recurring:checked ~ .recurring-container {
    display: block;
}

.select2-selection__rendered li {
    margin: 0;
}

.select2-search__field {
    padding: 0;
}

.section-container {
    margin-bottom: .75em;
}

#recurs-until-date {
    width: 80%;
    margin-top: .75em;
}


form.delete-form {
    display: inline;
}
form {
	padding: 1em;

	fieldset {
		margin: 0;
		margin-bottom: 1em;
	}
	legend {
	    font-weight: 300;
	    font-size: 2em;
	    margin-top: 0.5em;
	    padding-bottom: 0;

	}
}
/* for mobile-tablet-ish sizes */
@media (max-width: 767px) {
	.wdn_tabs li {
		font-size: 10px;
	}

	.medium-hidden {
		display: none;
	}

	.medium-block {
		display: block !important;
	}

	.date-time-select {
		input {
		    width: 100%;
		}
		select {
		    width: 30%;
		    text-align: center;
		}
	}
}

/* for mobile-ish sizes */
@media (max-width: 479px) {
	.small-hidden {
		display: none;
	}

	.small-block {
		display: block !important;
	}

	.small-center {
		text-align: center;
	}

	.calendar-event-title {
		font-size: 20px;
		font-size: 2em;
		margin-top: 10px;
		margin-top: 1em;
		word-break: break-word;
	}

}