.use-select2 {
	width: 100%;
}

.wdn-grid-set.reverse > [class*=wdn-col] {
	float: right;
}

.toolbox {
    border: 1px solid #D8E1E4;
    background: #E5EDF1;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 1em;
    word-break: break-word;
    h3 {
	    margin-top: 0;
	    border-bottom: 1px solid rgb(71,71,70);
	}
	ul {
	    padding-left: 20px;
	    a {
	    	border-bottom: none;
	    }
	}
}

.date-time-select {
    padding: 1em;
    background-color: #f9f8f5;
    border: 1px solid #d5d5d2;
    margin-bottom: 0.75em;
    text-align: center;
    .wdn-icon-calendar {
	    margin-right: -2.3em;
	    position: relative;
	    z-index: 2;
	    margin-left: 0.8em;
	}
	input {
	    padding-left: 2.3em;
	    width: 40%;
	    position: relative;
	    text-align: center;
	}
	select {
	    width: 14%;
	    text-align: center;/*
	    background-color: inherit;
	    color: inherit;*/
	}
	> * {
	  vertical-align: middle;
	}
}

#breadcrumbs {
	background: #E5EDF1;
	border-top: 2px solid #D8E1E4;
	padding-left: 1rem;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	width: auto;
	ul {
		padding: .5em 0;
		margin: 0;
	}
	li {
		color: #6A0000;
	}
	a {
		border-bottom: 0;
		&:hover {
			color: #D00000;
		}
	}
}

.am_pm {
    display: inline-block;
    font-family: "Gotham";
    font-size: .75em;
    margin-left: .75em;
}

#recurring ~ .recurring-container {
    display: none;
    padding: 1em;
    background-color: #f9f8f5;
    border: 1px solid #d5d5d2;
}

#recurring:checked ~ .recurring-container {
    display: block;
}

.visual-island {
    font-family: "Gotham";
    padding: 0 !important;
    background-color: #D5D5D2;
    margin-bottom: 1em;
    p {
	    margin: 0 !important;
	    padding: 1em;
	}
}

.vi-header {
	background-color: #979698;
	color: #030303;
	padding: .75em 1em;
}

.select2-selection__rendered li {
    margin: 0;
}

.select2-search__field {
    padding: 0;
}

.section-container {
    margin-bottom: .75em;
}

#recurs-until-date {
    width: 80%;
    margin-top: .75em;
}

form legend {
    font-weight: 300;
    font-size: 2em;
    margin-top: 0.5em;
    padding-bottom: 0;
}

form.delete-form {
    display: inline;
}

/* for mobile-tablet-ish sizes */
@media (max-width: 767px) {
	.wdn_tabs li {
		font-size: 10px;
	}

	.medium-hidden {
		display: none;
	}

	.medium-block {
		display: block !important;
	}

	.date-time-select {
		input {
		    width: 100%;
		}
		select {
		    width: 30%;
		    text-align: center;
		}
	}
}

/* for mobile-ish sizes */
@media (max-width: 479px) {
	.small-hidden {
		display: none;
	}

	.small-block {
		display: block !important;
	}

	.small-center {
		text-align: center;
	}

	.calendar-event-title {
		font-size: 20px;
		font-size: 2em;
		margin-top: 10px;
		margin-top: 1em;
		word-break: break-word;
	}

}