.date-time-select {
	padding: 1em;
	background-color: #f9f8f5;
	border: 1px solid #d5d5d2;
	margin-bottom: 0.75em;
	text-align: center;
}

.date-time-select .wdn-icon-calendar {
	margin-right: -2.3em;
	position: relative;
	z-index: 2;
	margin-left: 0.8em;
}

.date-time-select input {
	padding-left: 2.3em;
  width: 40%;
  position: relative;
  text-align: center;
}

.date-time-select select {
	width: 14%;
	text-align: center;/*
	background-color: inherit;
	color: inherit;*/
}

.am_pm {
	display: inline-block;
	font-family: "Gotham";
	font-size: .75em;
	margin-left: .75em;
}

.date-time-select > * {
  vertical-align: middle;
}

.date-time-select {  
	padding: 1em; 
}

#recurring ~ .recurring-container {
	display: none;
	padding: 1em;
	background-color: #f9f8f5;
	border: 1px solid #d5d5d2;
}

#recurring:checked ~ .recurring-container {
	display: block;
}

.recurring-container select {
	width: 40%;
}

.visual-island {
	font-family: "Gotham";
	padding: 0 !important;
	background-color: #D5D5D2;
	margin-bottom: 1em;
}

.vi-header {
	background-color: #979698;
	padding: .75em 1em;
}

.visual-island p {
	margin: 0 !important;
	padding: 1em;
}

.section-container {
	margin-bottom: .75em;
}
#recurs-until-date {
	width: 80%;
	margin-top: .75em;
}

form legend {
	font-weight: 300;
	font-size: 2em;
	margin-top: 0.5em;
	padding-bottom: 0;
}

form.deleteform {
    display: inline;
}
